<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <a class="navbar-brand" >GRM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLink="/venta" routerLinkActive="active">
          <a class="nav-link" >Ventas</a>
        </li>
        <li class="nav-item" routerLink="/productos" routerLinkActive="active">
          <a class="nav-link" >Inventario</a>
        </li>
        <li class="nav-item" routerLink="/read-excel" routerLinkActive="active">
          <a class="nav-link" >Read Excel</a>
        </li>
        <li class="nav-item dropdown" dropdown routerLinkActive="active">
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reportes
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" >Reporte del Dia</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" >Reporte Mensual</a>
          </div>
        </li>
    </ul>
    <div>
        <label class="text-light" for="user">{{userName}}</label>
        <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
    </div>
    </div>
  </nav>
