<div class="container">
    <h1>Pruebas</h1>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger" role="alert">col 12</div>
        </div>
    </div>
  <div class="row">
    <div class="col-6">
      <div class="alert alert-success" role="alert">alert 1</div>
    </div>
    <div class="col-6">
      <div class="alert alert-success" role="alert">alert 2</div>
    </div>
  </div>
  <div class="row">
    <p class="text-uppercase ">Texto a modificar</p>
  </div>
</div>
